@import url('./themes.css');

:root {
    font-size: 16px;
    --radius: 4px;
    --padding: 5px;
    --font: var(--reverse);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--base);

    &.fullpage {
        height: 100vh;
        overflow-y: hidden;
    }
}


header {
    display: grid;
    grid-template-columns: 2fr 6fr 4fr;
    gap: 4rem;
    background-color: var(--main);
    padding: 1rem;
    &, a {
        color: white;
    }
    
    .logo {
        width: 4rem;
    }

    #header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header-search {
        width: 100%;
        display: flex;
        align-items: center;
        form {
            width: 100%;
            input {
                width: 100%;
                padding: 6px;
                border-radius: 6px;
            }
        }
    }

    #header-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
    }
}

/* Containers */

/* div, section, article, span {} */

input {
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 4px;
}

/* Text Tags */

/* h1, h2, h3, h4, h5, h6 {}

p, li {}

span, q */